#vs
.vs/
# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.*
*.suo
*.user
*.userosscache
*.sln.docstates
*.sdf
*.opensdf
*.ncb
*.ipch
*.db
*.opendb
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.log
*.obj
*.pch
*.pdb
*.rsp
*.sbr
*.tlb
*.tli
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.cache
*.csproj.user
*.csproj.*
*.vbproj.user
*.vbproj.*
*.dbmdl
*.jfm
*.pfx
*.publishsettings
*.pubxml
*.pubxml.user
*.scn
*.sln.docstates
*.suo
*.user
*.userosscache
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Resources
PersonalDx11Engine/Resources/*
*.tif
*.png
*.tga
*.jpeg
*.obj
#ImGui
PersonalDx11Engine/ImGui/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#log
*.log

